h1,
h2,
h3 {
  font-family: poppins;
  color: white;
  text-align: center;
}

h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: auto;
  padding-top: 70px;
}
h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px auto;
}

h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: auto;
}
.learn-more {
  display: block;
  text-align: center;
  color: blue;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 3px;
}
.learn-more-button {
  background: white;
  display: block;
  margin: auto;
  margin-top: 50px;
  padding: 16px 32px;
  border-radius: 10px;
}
.hero-image {
  background-image: url(/images/london-photo-427679.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  aspect-ratio: 16/9;
}
.container {
  margin: auto;
  border: 10px solid #272044;
  border-radius: 4px;
}
.row1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  margin: 80px;
}
.london-photo {
  display: block;
  margin: auto;
  width: 100%;
  aspect-ratio: 1/1;
}
h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  font-family: poppins;
  text-align: center;
}
.restaurants {
  margin-top: 90px;
  text-align: center;
}
h5 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
  text-align: center;
}
.reasons {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  color: #272044;
  margin-top: 10px;
}
p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}
.flat-image,
.flat-embed {
  width: 100%;
  aspect-ratio: 2/2;
}
.inner-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.second-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 64px;
  margin-top: 50px;
}
.margin-container {
  background: #f8f8f8;
}
.restaurants {
  padding-top: 60px;
}

.background-colour {
  background: white;
  margin-bottom: 80px;
}
.background-margin {
  margin: 25px 32px;
}
.bt {
  display: block;
  margin: auto;
  background: blue;
  padding: 16px 72px;
  margin-top: 60px;
}
.link {
  color: white;
  text-decoration: none;
  text-align: center;
}
.restaurant-container {
  margin: 90px 50px;
}

.footer-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url(/images/London-footer-image.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 60px;
}
.footer-text {
  color: white;
  font-family: poppins;
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  line-height: 24px;
  margin-top: 25px;
}
.info {
  color: white;
  font-family: poppins;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}
.row-one {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  padding: 50px;
  column-gap: 20px;
}
.third-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 39px;
  margin: 50px 35px;
}

.top-margin {
  margin-top: 80px;
}

@media (max-width: 1100px) {
  h1 {
    font-size: 40px;
  }
  .row1 {
    grid-template-columns: 1fr;
  }
  .second-row {
    grid-template-columns: 1fr;
  }
  .third-row {
    grid-template-columns: 1fr;
  }
  .row-one {
    grid-template-columns: 1fr;
  }

  .col2 {
    text-align: center;
  }
  .footer-text {
    font-size: 12px;
    font-weight: 200px;
  }
  .insta {
    display: block;
    margin: auto !important;
    width: 40px !important;
  }
  .about-me {
    margin-top: 50px;
  }
  .about-website {
    margin-top: 50px;
  }
  .info {
    margin-top: 50px;
  }
}
